*{
    font-family: 'Helvetica', sans-serif;
}

.links line {
    stroke: #000;
    stroke-opacity: 1;
}

.links.Marriage {
    display: none;
}

.underline.line {
    stroke-width: 1px;

}
.nodes circle {
    stroke: black;
    stroke-width: 1px;
}

.eventUnit.pastCircle {
    stroke: #B2B2B2;
    fill: #B2B2B2;
}


.eventUnit.currentCircle {
    stroke: black;
    fill: black;
    stroke-width: 1px;
}

.eventUnit.futureCircle {
    stroke: black;
    fill: white;
    stroke-width: 1px;
}

text {
    font-family: sans-serif;
    font-size: 10px;
}



#tooltip {
    position: absolute;
    width: 240px;
    height: auto;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 3px 16px silver;
    pointer-events: none;

    overflow: hidden;
    top: 10%;
    right: 10%;
    /*bottom: 10%;*/
    left: 10%;
    padding: 10px 30px;
    display: block;
    border-radius: 4px;
    transition: all 0.5s;

}

div#container {
    height: 200px;
    width: 150px;
    border:2px solid #000;
    overflow: scroll;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    display: inline;
    margin: 0;
    font-size: 13px;
    line-height: 20px;
}


.squares {
    overflow:auto;

}


.Baptism {
    /*fill: blueviolet;*/
    fill: black;

}


.Funeral {
    fill: black;
}


.Offspring{
    fill: #b3dd72;
    fill: black;

}

.Godparent {
    fill: #98e5f5;
    fill: black;

}



.minor text{
    display: none;

}


.hidden {


}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}


.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}


.track-inset {
    stroke: black;
    stroke-width: 1px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 10px;
    stroke: transparent;
    cursor: crosshair;
}

#linksDiv {
    position: absolute;
    font-family: Futura;
    font-size: 13px;
    left: 1000px;
    top: 800px;

}



#tooltip,
#eventTooltip {
    position: absolute;
    width: 240px;
    height: auto;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 3px 16px silver;
    pointer-events: none;

    overflow: hidden;
    top: 10%;
    right: 10%;
    /*bottom: 10%;*/
    left: 10%;
    padding: 10px 30px;
    display: block;
    border-radius: 4px;
    transition: all 0.5s;

}

#tooltip.hidden,
#eventTooltip.hidden {
    display: none;
}

#tooltip p,
#eventTooltip p {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
}

