*{
    font-family: 'Helvetica', sans-serif;
}

.links line {
    stroke: #000;
    stroke-opacity: 1;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 2px;
}

text {
    font-family: sans-serif;
    font-size: 10px;
}



