*{
    font-family: 'Helvetica', sans-serif;
}

.links line {
    stroke: #000;
    stroke-opacity: 1;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 2px;
}

text {
    font-family: sans-serif;
    font-size: 10px;
}



#tooltip {
    position: absolute;
    width: 240px;
    height: auto;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 3px 16px silver;
    pointer-events: none;

    overflow: hidden;
    top: 10%;
    right: 10%;
    /*bottom: 10%;*/
    left: 10%;
    padding: 10px 30px;
    display: block;
    border-radius: 4px;
    transition: all 0.5s;

}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    display: inline;
    margin: 0;
    font-size: 13px;
    line-height: 20px;
}

.Birth {
    fill: blueviolet;
}


.Death {
    fill: black;
}


.Offspring{
    fill: #b3dd72;
}

.Godparent {
    fill: #98e5f5;
}




.hidden {


}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}


.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}


.track-inset {
    stroke: black;
    stroke-width: 1px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 10px;
    stroke: transparent;
    cursor: crosshair;
}

#linksDiv {
    position: absolute;
    font-family: Futura;
    font-size: 13px;
    left: 1000px;
    top: 800px;

}
